@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

.content {
    max-width: 720px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-transform: uppercase;
}

/* todo previews / list */
.todo-preview {
    padding: 10px 16px;
    margin: 20px 0;
    border-bottom: 1px solid #fafafa;
  }
  .todo-preview:hover {
    box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
  }

  .todo-preview a{
    text-decoration: none;
  }
  
  /* blog details page */
  .todo-details div {
    margin: 20px 0;
  }

  button {
    background: #f1356d;
    color: #fff;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    margin-left: 1rem;
  }