@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

.navbar {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  margin: 2rem 0;
}

.navbar a {
  text-decoration: none;
}

.content {
    max-width: 720px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-transform: uppercase;
}

/* todo previews / list */
.todo-preview {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 16px;
    margin: 20px 0;
    border-bottom: 1px solid #fafafa;
  }
  .todo-preview:hover {
    box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
  }

  .todo-preview a{
    text-decoration: none;
  }
  
  /* blog details page */
  .todo-details div {
    margin: 20px 0;
  }

  button {
    background: #f1356d;
    color: #fff;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    margin-left: 1rem;
  }

form {
  background: #e06161;
  border-radius: 8px;
  max-width: fit-content;
  padding: 2rem 2rem;
  margin: 0 auto;
}

form, label, input {
  display: block;
}

form > button {
  margin: 0 auto;
  margin-top: 1rem;
}

form > button:hover {
  cursor: pointer;
}
